
body{
    background-color: #F1F1F1;
}
#form-title {
    width: 360px;
    margin: 100px auto 10px auto;
    font-size: 20px;
    color: black;
}
#login-box {
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 30px;
}
.input {
    width: 270px;
    height: 40px;
    margin: 10px auto;
}

.forgetmenot{
    float: left;
}
.submit {
    padding-right: 20px;
}
.login-btn {
    float: right;
    width: 60px;
    height: 40px;
    padding-right: 30px;
}
.login-btn {
   -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
   -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
   box-shadow:inset 0px -3px 7px 0px #29bbff;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
   background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
   background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
   background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
   background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
   background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
   background-color:#2dabf9;
   -moz-border-radius:3px;
   -webkit-border-radius:3px;
    color: #ffffff;
    font-size: 15px;
}
.login-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
